*{
    margin: 0;
    padding: 0;
}
ul>li{
    list-style: none;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
.container{
    width: 1920px;
    margin: 0 auto;
}
.jcfs{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.jcsb{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.f1{
    position: relative;
}
.f1_color{
    color: #faaa20;
}
.f1_text{
    color: #2e2e2e;
    text-align: center;
    height: 30px;
    margin: 7px 10px;
    font-size: 24px;
}
.f1_a1{
    text-align: center;
    margin: 7px 10px;
    font-size: 24px;
}
.f1_div3_a{
    color: #fff;
}
.f1_a2{
    text-align: center;
    margin: 7px 10px;
    font-size: 24px;
}
.f1_a3{
    text-align: center;
    margin: 7px 10px;
    line-height: 40px;
    font-size: 24px;
}
.f1_dht{
    display: none;
}
.f1_a4{
    text-align: center;
    margin: 7px 10px;
    line-height: 40px;
    font-size: 24px;
}
.f1_div{
    width: 600px;
}
.f1_input{
    border: none;
}
.f1_ss{
    width: 20px;
    cursor: pointer;
}
.f1_text1{
    display: none;
}
.f1_ss1{
    display: none;
}
.f1_div31{
    display: none;
}
.f1_div1{
    border: 1px solid #2e2e2e;
    height: 20px;
    margin-top: 20px;
    margin-right: 500px;
}
.f1_div3{
    width: 160px;
    height: 60px;
    background: #faaa20;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 99;
}
.f1_div31{
    width: 100%;
    height: 60px;
    background: #faaa20;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;  
}
.f2{
    position: relative;
}
.f2_img{
    width: 100%;
    z-index: -1;
}
.f2_div{
    position: absolute;
    font-size: 64px;
    color: #fff;
    z-index: 99;
    top: 45%;
    left: 100px;
    font-weight: bold;
}
.f3{
    border-top: 10px solid #268afa;
}
.f3_text{
    margin-top: 30px;
    font-size: 32px;
}
.f4{
    border-top: 1px solid #2e2e2e;
    margin-top: 20px;
}
.f4_img{
    width: 200px;
}
.f4_title{
    font-size: 24px;
    margin-top: 20px;
}
.f4_text{
    margin-top: 20px;
}
.f4_div{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
.f4_div1{
    margin-top: 20px;
}
.f4_btn{
    margin-top: 4%;
    color: #fff;
    background: #268afa;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}
.f5{
    width: 100%;
    height: 100px;
}
.f5_btn{
    display: block;
    margin: 0 auto;
    color: #fff;
    width: 70px;
    border-radius: 10px;
    background: #268afa;
    padding: 10px 20px;
}
.f6{
    position: relative;
}
.f6_img{
    width: 100%;
}
.f6_text{
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 22%;
    top: 35%;
}
.f6_div{
    position: absolute;
    width: 120px;
    height: 60px;
    background: #faaa20;
    bottom: 4%;
    color: #fff;
    left: 45%;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
}
.f7_div{
    background: #268afa;
    width: 100%;
    height: 200px;
}
.f7_color{
    color: #faaa20;
}
.f7_text{
    padding-top: 20px;
    text-align: center;
    height: 100px;
    font-size: 32px;
}
.f7_img{
    width: 50px;
}
.f7_img_div{
    margin: 0 auto;
    width: 300px;
}
@media screen and (max-width: 414px) {
    .container{
        width: 414px;
        margin: 0 auto;
    }
    .f1_div{
        display: none;
    }
    .f1_div1{
        display: none;
    }
    .f1_text1{
        margin-top: 6px;
        display: block;
    }
    .f1_dht{
        display: block;
        width: 50px;
        display: block;
    }
    .f1_ss1{
        display: block;
        width: 30px;
        height: 30px;
        margin-top: 6px;
        display: block;
    }
    .f1_div3{
        display: none;
    }
    .f1_div31{
        width: 100%;
        height: 60px;
        background: #faaa20;
        text-align: center;
        line-height: 60px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        display: block;
    }
    .f2_div{
        top: 20px;
        left: 20px;
        font-size: 24px;
    }
    .f3{
        padding-left: 20px;
        padding-right: 20px;
    }
    .f3_text{
        font-size: 24px;
    }
    .f4_img{
        margin: 0 auto;
    }
    .f4_div{
        text-align: center;
    }
    .f4_div1{
        display: block;
        margin-top: 20px;
    }
    .f4_text{
        display: none;
    }
    .f4_btn{
        padding: 10px 20px;
        margin-left: 40%;
    }
    .f5{
        margin-top: 2%;
    }
    .f6_text{
        width: 200px;
        font-size: 24px;
        top: 2px;
        text-align: center;
    }
    .f6_div{
        position: absolute;
        width: 100%;
        height: 30px;
        background: #faaa20;
        color: #fff;
        bottom: 2%;
        left: 0;
        font-size: 24px;
        text-align: center;
        line-height: 30px;
    }
    .f7_div{
        height: 150px;
    }
    .f7_text{
        font-size: 20px;
        height: 63px;
    }
}